     <div class="row">
          <div class="col-lg-12">
  			<hr>
              <h6 class="text-center"> Leilani Raranga Web Engineer Challenge for Leap Motion <br>Leap Motion and the Leap Motion logo are the trademarks of Leap Motion, Inc. and are used here by permission<h6>
          </div>
      </div>